cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.9
cssselect==1.1.0
cssutils==2.3.0
et-xmlfile==1.1.0
ftfy==6.0.3
idna==3.3
lxml==4.7.1
mailchecker==4.1.9
Naked==0.1.31
openpyxl==3.0.9
phonenumbers==8.12.41
premailer==3.10.0
pycrypto==2.6.1
python-benedict==0.24.3
python-dateutil==2.8.2
python-fsutil==0.5.0
python-slugify==5.0.2
PyYAML==6.0
requests==2.26.0
shellescape==3.8.1
six==1.16.0
text-unidecode==1.3
toml==0.10.2
urllib3==1.26.7
watchdog==2.1.6
wcwidth==0.2.5
WooCommerce==3.0.0
xmltodict==0.12.0
yagmail==0.15.277
